.rendu {
  color:rgb(1, 112, 1);
  background-color: rgb(203, 250, 193);
}

.nonRendu {
  color:rgb(218, 1, 1);
  background-color: rgb(252, 182, 182);
}

.important {
   font-size: 40px;
 }

.table-container {
  flex: 1;
  min-height: 0;
  overflow: auto
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 100%;
  margin: 0 20px;
}
 .container {
   display:flex;
   flex-direction: column;
 }

 .ajouterBtn {
   align-self: flex-end;
 }

 .pagination {
   width:500px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}
