<main class="container">
  <div class="ajouterBtn">
    <a routerLink="/add">
      <button mat-raised-button color="accent">
        <span class="material-icons">add_circle</span>
        Ajouter un devoir
      </button>
    </a>
  </div>

  <h2 style="margin: 0.13em;">Liste des devoirs :</h2>
  <p style="margin: 0.13em;">Nombre de devoirs par page :
    <mat-slider aria-label="unit(s)" color="primary" min="1" max="100" step="1" value="10" thumbLabel [(ngModel)]="limit" (change)="getAssignments()" style=" width: 250px;">
      {{limit}}
    </mat-slider>
  </p>
<!--   <input type=range min=2 max=100 value=10 [(ngModel)]="limit" (change)="getAssignments()"> {{limit}}-->
<div class="pagination" style="margin:auto">
  <button mat-raised-button color="primary" (click)="premierePage()" [disabled]="page===1" matTooltip="Première page">
    <span class="material-icons">keyboard_double_arrow_left</span>
  </button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="pagePrecedente()" [disabled]="!hasPrevPage" matTooltip="Page précédente">
    <span class="material-icons">keyboard_arrow_left</span>
  </button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="pageSuivante()" [disabled]="!hasNextPage" matTooltip="Page suivante">
    <span class="material-icons">keyboard_arrow_right</span>
  </button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="dernierePage()" [disabled]="page===totalPages" matTooltip="Dernière page">
    <span class="material-icons">keyboard_double_arrow_right</span>
  </button>
</div>
  <mat-list *ngFor="let assignment of assignments">
    <nav>
      <a routerLink="/assignment/{{assignment.id}}">
        <h3 mat-subheader>Date de rendu : {{assignment.dateDeRendu | date}}</h3>
        <mat-list-item>
          <p *ngIf="assignment.rendu; else nonsoumis" appRendu>
            {{assignment.nom}} a été rendu par l'élève.
          </p>

          <ng-template #nonsoumis>
            <p>{{assignment.nom}} non rendu.</p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </nav>
  </mat-list>

</main>
