<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Adresse Mail" formControlName="email">
        </mat-form-field>
        <mat-error *ngIf="isValid('email')">
          Email <strong>requis</strong>
        </mat-error>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Mot de passe" formControlName="mdp">
        </mat-form-field>
        <mat-error *ngIf="isValid('mdp')">
          Mot de passe <strong>requis</strong>
        </mat-error>
      </p>

      <div class="button">
        <a routerLink="/register"><button mat-button > S'inscrire</button></a>
        <button type="submit" mat-button>Se connecter</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
