<!--<h1>-->
<!--  <nav>-->
<!--    <a routerLink="/home">-->
<!--      {{title}}-->
<!--    </a>-->
<!--  </nav>-->
<!--</h1>-->

<!--<mat-slide-toggle (click)="login()">Login</mat-slide-toggle>-->
<!--<br>-->
<!--<button mat-raised-button-->
<!--        color="primary"-->
<!--        (click)="remplirBD()"-->
<!--&gt;-->
<!--        PEUPLER BD-->
<!--</button>-->
<!--<button mat-raised-button-->
<!--        color="info"-->
<!--        (click)="seDeconnecter()"-->
<!--&gt;-->
<!--  Se déconnecter-->
<!--</button>-->

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Assignment app</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="seDeconnecter()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

<router-outlet></router-outlet>
