<br><br>
<form ngForm class="form"
      #assignmentForm
      (submit)="onSubmit(); assignmentForm.reset();" style="width:30em; margin:auto">

  <mat-form-field appearance="outline" hintLabel="Max 50 characters">
    <mat-label>Nom du devoir</mat-label>
    <input matInput [(ngModel)]="nomDevoir" #input name="nom" maxlength="50" placeholder="Ex: DM de Mathématiques" required>
    <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" hintLabel="Max 50 characters">
    <mat-label>Auteur</mat-label>
    <input matInput [(ngModel)]="nomAuteur" #input name="auteur" maxlength="50" placeholder="Prénom Nom" required>
    <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Matière</mat-label>
    <mat-select>
      <mat-option *ngFor="let matiere of (matieres | async)" [value]="matiere._id" required>
        {{matiere.libelle}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date de rendu</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" hintLabel="Max 300 characters">
    <mat-label>Commentaire</mat-label>
    <textarea matInput [(ngModel)]="commentaire" name="commentaire" maxlength="300" placeholder="Facultatif"></textarea>
    <mat-hint align="end">{{input.value?.length || 0}}/300</mat-hint>
  </mat-form-field>

  <br>
  <button mat-raised-button color="accent" style="width:18.75em; margin:auto">
    <span class="material-icons">add_circle</span>
    Ajouter un devoir
  </button>
  <br><br>
</form>
